*, *::before, *::after {
    box-sizing: border-box;
  }

a {
    text-decoration: none;
}

div input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
}

.form {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: whitesmoke;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    border-radius: 2%;
    box-shadow: 3px 3px grey;
}

.usuario {
    margin-top: 100px;
}

.senha {
    margin-top: 15px;
}

.esqueceu {
    font-size: 12px;
    color: darkblue;
}

.botao {
    margin-top: 30px;
    border-radius: 2%;
    color: white;
    background-color: orange;
    width: 40%;
    height: 10%;
    font-size: 16px;
}